# {{ ansible_managed }}
#
# Config file for dnsmasq.

# Or which to listen on by address (remember to include 127.0.0.1 if
# you use this.)
listen-address={{ dnsmasq_dhcp_listen_ipv4_addr }}

# If you want dnsmasq to provide only DNS service on an interface,
# configure it as shown above, and then use the following line to
# disable DHCP and TFTP on it.
no-dhcp-interface=lo

# Uncomment this to enable the integrated DHCP server, you need
# to supply the range of addresses available for lease and optionally
# a lease time. If you have more than one network, you will need to
# repeat this for each network on which you want to supply DHCP
# service.
dhcp-range={{ dnsmasq_dhcp_lower_bound }},{{ dnsmasq_dhcp_upper_bound }},{{ dnsmasq_dhcp_network_subnet_mask }},2h

# Override the default route supplied by dnsmasq, which assumes the
# router is the same machine as the one running dnsmasq.
dhcp-option=option:router,{{ dnsmasq_dhcp_network_gateway_ipv4_addr }}

# Set the DHCP server to enable DHCPv4 Rapid Commit Option per RFC 4039.
# In this mode it will respond to a DHCPDISCOVER message including a Rapid Commit
# option with a DHCPACK including a Rapid Commit option and fully committed address
# and configuration information. This must only be enabled if either the server is
# the only server for the subnet, or multiple servers are present and they each
# commit a binding for all clients.
dhcp-rapid-commit
