---
{#
  Manifest for Kubernetes zim Job objects.
#}
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: dockerhub-creds
  namespace: {{ namespace }}
data:
  .dockerconfigjson: {{ encoded_dockerhub_config }}


{% for zims_jobs_manifest_config in zim_jobs_manifest_configs %}
---
apiVersion: batch/v1
kind: Job
metadata:
  generateName: {{ zims_jobs_manifest_config.name }}-
  namespace: {{ namespace }}
spec:
  ttlSecondsAfterFinished: 86400 # one day
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: curl
          image: curlimages/curl
          args:
            - --location
            - --skip-existing
            - --remote-name
            - --output-dir
            - /mnt
            - {{ zims_jobs_manifest_config.url }}
          resources:
            requests:
              cpu: 50m
              memory: 10Mi
          volumeMounts:
            - name: zims
              mountPath: /mnt
      volumes:
      - name: zims
        nfs:
          server: {{ nfs_export.host }}
          path: {{ nfs_export.device }}
{% endfor %}
