#!/bin/sh
#
# {{ ansible_managed }}
#
# Checks the system status of the specified load balancer.

set -e

if  [ "$(ps --pid 1 -o comm=)" = "systemd" ] \
    && [ "$(systemctl show --property ActiveState haproxy.service)" != "ActiveState=active" ]; then
        exit 1
fi

exit 0
