---
{#
  Values to pass to the Calico Helm chart.
#}
imagePullSecrets:
  # The dockerhub config is decoded only because the value is encoded by the
  # template that uses these key-value pairs. For reference on said template:
  # https://github.com/projectcalico/calico/blob/master/charts/tigera-operator/templates/tigera-operator/01-imagepullsecret.yaml
  {{ dockerhub_creds_secret_name }}: '{{ encoded_dockerhub_config | b64decode }}'
installation:
  enabled: true
  imagePullSecrets:
    - name: {{ dockerhub_creds_secret_name }}
  calicoNetwork:
    bgp: Enabled
    ipPools:
      - cidr: {{ k8s_calico_ippool_subnet }}
        encapsulation: None
        natOutgoing: Enabled
        nodeSelector: all()
  calicoNodeDaemonSet:
    spec:
      template:
        spec:
          containers:
            - name: calico-node
              resources:
                requests:
                  cpu: 50m
                  memory: 300Mi
  typhaDeployment:
    spec:
      template:
        spec:
          containers:
            - name: calico-typha
              resources:
                requests:
                  cpu: 50m
                  memory: 100Mi
  calicoKubeControllersDeployment:
    spec:
      template:
        spec:
          containers:
            - name: calico-kube-controllers
              resources:
                requests:
                  cpu: 50m
                  memory: 100Mi

resources:
  requests:
    cpu: 50m
    memory: 200Mi

apiServer:
  enabled: true
  apiServerDeployment:
    spec:
      template:
        spec:
          containers:
            - name: calico-apiserver
              resources:
                requests:
                  cpu: 50m
                  memory: 150Mi
