# {{ ansible_managed }}
#
# Configuration file for haproxy.

defaults
  mode tcp
  timeout client 15s
  timeout connect 5s
  timeout server 15s

frontend poseidon_k8s_controller_frontend
  bind {{ k8s_controller_endpoint }}
  default_backend k8s_controller_endpoints

backend k8s_controller_endpoints
  balance roundrobin
  server poseidon-k8s-controller1 {{ poseidon_k8s_controller1_cluster_ipv4_addr }}:{{ k8s_api_server_port }}
  server poseidon-k8s-controller2 {{ poseidon_k8s_controller2_cluster_ipv4_addr }}:{{ k8s_api_server_port }}
  server poseidon-k8s-controller3 {{ poseidon_k8s_controller3_cluster_ipv4_addr }}:{{ k8s_api_server_port }}
