---
{#
  Configs to turn a node into a Kubernetes worker node.
#}
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
nodeRegistration:
  name: {{ ansible_hostname }}
  criSocket: {{ cri_socket_path }}
  taints: null
  kubeletExtraArgs:
    node-ip: {{ kubelet_listen_ipv4_addr }}
discovery:
  bootstrapToken:
    token: {{ k8s_bootstrap_token }}
    apiServerEndpoint: {{ k8s_controller_endpoint }}
    caCertHashes:
      - {{ k8s_ca_key_hash }}
patches:
  directory: {{ kubeadm_patches_dir_path }}
