---
{#  
  Values to pass to the Ingress NGINX Helm chart.
#}
imagePullSecrets:
  - name: {{ dockerhub_creds_secret_name }}
controller:
  service:
    nodePorts:
      http: {{ poseidon_ingress_nginx_node_http_port }}
