---
{#
  Configs to turn a node into a Kubernetes first control plane node.
#}
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ k8s_api_server_endpoint }}
  bindPort: {{ k8s_api_server_port }}
nodeRegistration:
  name: {{ ansible_hostname }}
  criSocket: {{ cri_socket_path }}
  taints: null
  kubeletExtraArgs:
    node-ip: {{ kubelet_listen_ipv4_addr }}
certificateKey: {{ k8s_certs_encrypt_key }}
bootstrapTokens:
  - token: {{ k8s_bootstrap_token }}
    ttl: 1h0m0s
patches:
  directory: {{ k8s_control_plane_kubeadm_patches_dir_path }}

---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: {{ k8s_kubeadm_kubernetes_version }}
controlPlaneEndpoint: {{ k8s_controller_endpoint }}
networking:
  serviceSubnet: {{ k8s_service_subnet }}
  podSubnet: {{ k8s_pod_subnet }}
  dnsDomain: {{ homelab_poseidon_k8s_network_domain }}

---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serverTLSBootstrap: true
