# {{ ansible_managed }}
---
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: {{ dockerhub_creds_secret_name }}
  namespace: {{ ingress_nginx_namespace }}
data:
  .dockerconfigjson: {{ encoded_dockerhub_config }}
