.python-version
.vagrant/
node_modules/
__pycache__/
/production
/preseed.cfg
/.ruby-version
/vendor/
/ansible/
/playbooks/vars/ansible_secrets.yml
/playbooks/files/containerd_1.6.20~ds1-1+b1_amd64.deb
/playbooks/files/rsa_keys/
/playbooks/files/certs/
