.vagrant/
node_modules/
__pycache__/
/production
/preseed.cfg
/.python-version
/.ruby-version
/vendor/
/ansible/
/playbooks/vars/ansible_secrets.yml
/playbooks/ssh_keys/
/playbooks/rsa_keys/
/playbooks/certs/
