.python-version
terraform.tfstate
terraform.tfstate.backup
.vagrant/
node_modules/
__pycache__/
.terraform/
/production
/preseed.cfg
/.ruby-version
/vendor/
/ansible/
/playbooks/vars/ansible_secrets.yml
/playbooks/vars/k8s_configs.yml
/playbooks/files/gerald.wg0.key
/playbooks/files/staging-node1.wg0.key
/playbooks/files/metal-amd64.iso
/playbooks/files/certs/
/localhost-k8s-cluster/kubeconfig
/localhost-k8s-cluster/talosconfig
/prod-k8s-cluster/kubeconfig
/prod-k8s-cluster/talosconfig
