---
default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: trailing-whitespace

  - repo: https://github.com/ansible-community/ansible-lint.git
    rev: v25.9.2
    hooks:
      - id: ansible-lint
        language: python
        stages:
          - pre-push
        additional_dependencies:
          - ansible-core ==2.20.2
          - jmespath ==1.1.0
          - pyspellchecker ==0.8.3

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          - --strict
          - ./examples
          - ./extensions/molecule
          - ./meta
          - ./playbooks
          - ./roles

  - repo: https://github.com/DavidAnson/markdownlint-cli2.git
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        # matches docs/foo.md, but not README.md
        files: ^docs/
        types:
          - markdown
        additional_dependencies:
          - prettier@3.6.2

      - id: pytest
        name: pytest
        entry: pytest
        language: python
        files: ^tests/
        types:
          - python
        additional_dependencies:
          - ansible-core ==2.20.2
          - ansible-lint ==25.9.2
          - pyspellchecker ==0.8.3
          - pytest ==8.4.2

      - id: gendict.py
        name: gendict.py
        entry: ./scripts/gendict.py
        language: python
        stages:
          - pre-push
        additional_dependencies:
          - ansible-core ==2.20.2
          - ansible-lint ==25.9.2
          - pyspellchecker ==0.8.3

  - repo: https://github.com/gitleaks/gitleaks.git
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/pre-commit/mirrors-mypy.git
    rev: v1.18.2
    hooks:
      - id: mypy
        language: python
        args:
          - --strict
        additional_dependencies:
          - ansible-core ==2.20.2
          - ansible-lint ==25.9.2
          - boto3-stubs[s3] ==1.40.48
          - pyspellchecker ==0.8.3
          - pytest ==8.4.2

  - repo: https://github.com/pre-commit/mirrors-mypy.git
    # Do not update unless package versions are supported by the system Python version
    # used by the proxy_servers hosts (556b70d).
    rev: v1.18.2
    hooks:
      - id: mypy
        name: mypy (mitmproxy)
        language: python
        language_version: ~/.local/src/homelab-cm/mitmproxy/bin/python
        files: ^mitmproxy/templates/[a-z_]+\.py\.j2
        types_or:
          - jinja
        args:
          - --strict
          - --scripts-are-modules
        additional_dependencies:
          - mitmproxy ==11.0.2
          - requests ==2.32.3
          - types-requests ==2.32.0.20250328

  - repo: https://github.com/astral-sh/ruff-pre-commit.git
    rev: v0.14.0
    hooks:
      - id: ruff-check
        args:
          - ./rules

      - id: ruff-format
        args:
          - ./rules

  - repo: https://github.com/astral-sh/ruff-pre-commit.git
    # Do not update unless package versions are supported by the system Python version
    # used by the proxy_servers hosts (556b70d).
    rev: v0.14.0
    hooks:
      - id: ruff
        name: ruff (mitmproxy)
        language: python
        language_version: ~/.local/src/homelab-cm/mitmproxy/bin/python
        files: ^mitmproxy/templates/[a-z_]+\.py\.j2
        types_or:
          - jinja

      - id: ruff-format
        name: ruff-format (mitmproxy)
        language: python
        language_version: ~/.local/src/homelab-cm/mitmproxy/bin/python
        files: ^mitmproxy/templates/[a-z_]+\.py\.j2
        types_or:
          - jinja

  - repo: https://github.com/tofuutils/pre-commit-opentofu.git
    rev: v2.2.1
    hooks:
      - id: tofu_fmt
      - id: tofu_validate

  - repo: https://github.com/tombi-toml/tombi-pre-commit.git
    rev: v0.6.25
    hooks:
      - id: tombi-lint
      - id: tombi-format

  - repo: https://github.com/koalaman/shellcheck-precommit.git
    rev: v0.11.0
    hooks:
      - id: shellcheck
