
[defaults]
forks = 10
ansible_managed = Ansible managed: modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
roles_path    = ./examples/roles:./roles:/home/conner/.ansible/roles/:/etc/ansible/roles:
collections_path = ./ansible/collections

[ssh_connection]
pipelining = true
