all:
  children:
    managed:
      children:
        on_prem:
          children:
            bare_metal:
          vars:
            preferred_nameserver: {{ gerald_homelab_ipv4_addr }}
        irc_clients:
          children:
            lightsail_instances:
              hosts:
                milo:
                  ansible_host: 35.168.24.181
                  ansible_user: admin
        dhcp_servers:
          hosts:
            gerald:
              ansible_host: {{ gerald_homelab_ipv4_addr }}
              ansible_user: ansible
              dnsmasq_dhcp_config_file_template: prod-dnsmasq-dhcp.conf.j2
              dnsmasq_dns_config_file_template: prod-dnsmasq-dns.conf.j2
              wireguard_network_interface_name: {{ gerald_wireguard_network_interface_name }}
              haproxy_config_file_template: haproxy.cfg.j2
              dnsmasq_dhcp_listen_ipv4_addr: {{ gerald_homelab_ipv4_addr }}
              homelab_dnsmasq_dns_listen_ipv4_addr: {{ gerald_homelab_ipv4_addr }}
              load_balancer_listen_ipv4_addr: {{ gerald_homelab_ipv4_addr }}
              wikipedia_zim_name: wikipedia_en_all
              se_domains:
                - askubuntu.com
                - security.stackexchange.com
                - serverfault.com
                - stackoverflow.com
                - superuser.com
                - unix.stackexchange.com
              systemd_networkd_files:
                - filename: 00-{{ gerald_homelab_network_interface_name }}.link
                  Match:
                    MACAddress: {{ gerald_homelab_mac_addr }}
                  Link:
                    Name: {{ gerald_homelab_network_interface_name }}
                - filename: 00-{{ gerald_homelab_network_interface_name }}.network
                  Match:
                    Name: {{ gerald_homelab_network_interface_name }}
                  Network:
                    Address: {{ gerald_homelab_ipv4_addr }}/24
                    Gateway: {{ homelab_network_gateway_ipv4_addr }}
                  DHCPv4:
                    UseHostname: false
                - filename: 00-{{ gerald_wireguard_network_interface_name }}.netdev
                  NetDev:
                    Name: {{ gerald_wireguard_network_interface_name }}
                    Kind: wireguard
                  WireGuard:
                    PrivateKeyFile: /etc/systemd/network/{{ gerald_wireguard_network_interface_name }}.key
                    ListenPort: {{ gerald_wireguard_server_port }}
                  WireGuardPeer:
                    - PublicKey: {{ vpn_network_clients[0].pubkey }}
                      AllowedIPs: 192.168.0.45/32
                    - PublicKey: {{ vpn_network_clients[1].pubkey }}
                      AllowedIPs: 192.168.0.46/32
                    - PublicKey: {{ vpn_network_clients[2].pubkey }}
                      AllowedIPs: 192.168.0.47/32
                    - PublicKey: {{ vpn_network_clients[3].pubkey }}
                      AllowedIPs: 192.168.0.48/32
                - filename: 00-{{ gerald_wireguard_network_interface_name }}.network
                  Match:
                    Name: {{ gerald_wireguard_network_interface_name }}
                  Network:
                    Address: {{ gerald_homelab_wireguard_ipv4_addr }}/32
                  Route:
                    - Scope: link
                      Source: {{ gerald_homelab_wireguard_ipv4_addr }}/24
                      Destination: 192.168.0.45/32
                    - Scope: link
                      Source: {{ gerald_homelab_wireguard_ipv4_addr }}/24
                      Destination: 192.168.0.46/32
                    - Scope: link
                      Source: {{ gerald_homelab_wireguard_ipv4_addr }}/24
                      Destination: 192.168.0.47/32
                    - Scope: link
                      Source: {{ gerald_homelab_wireguard_ipv4_addr }}/24
                      Destination: 192.168.0.48/32
        dns_servers:
          hosts:
            gerald:
        load_balancers:
          hosts:
            gerald:
        vmms:
          hosts:
            kronk:
              ansible_host: {{ kronk_homelab_ipv4_addr }}
              ansible_user: ansible
              homelab_network_bridge_interface_name: {{ kronk_homelab_network_bridge_interface_name }}
              lvm_disks_config:
                vgs:
                  - name: vgnfs
                    pvs:
                      disks:
                        - /dev/disk/by-id/ata-PNY_CS900_2TB_SSD_PNY225122122301002CE
                lvs:
                  - name: lvzims
                    size: 500G
                    fstype: ext4
                    vg_name: vgnfs
                  - name: lvcache
                    fstype: ext4
                    vg_name: vgnfs
              nfs_exports_config:
                - device: /srv/nfs/zims
                  hosts:
                    - talos-*(rw,all_squash)
                - device: /srv/nfs/cache
                  hosts:
                    - talos-*(rw,all_squash)
              systemd_networkd_files:
                - filename: 00-{{ kronk_homelab_network_bridge_interface_name }}.netdev
                  NetDev:
                    Name: {{ kronk_homelab_network_bridge_interface_name }}
                    Kind: bridge
                    MACAddress: none
                - filename: 00-{{ kronk_homelab_network_bridge_interface_name }}.link
                  Match:
                    OriginalName: {{ kronk_homelab_network_bridge_interface_name }}
                  Link:
                    MACAddressPolicy: none
                - filename: 00-{{ kronk_homelab_network_bridge_interface_name }}.network
                  Match:
                    Name: {{ kronk_homelab_network_bridge_interface_name }}
                  Link:
                    RequiredForOnline: routable
                  Network:
                    DHCP: yes
                - filename: 00-{{ kronk_homelab_network_interface_name }}.link
                  Match:
                    MACAddress: {{ kronk_homelab_mac_addr }}
                  Link:
                    Name: {{ kronk_homelab_network_interface_name }}
                - filename: 00-{{ kronk_homelab_network_bridge_interface_name }}-{{ kronk_homelab_network_interface_name }}.network
                  Match:
                    Name: {{ kronk_homelab_network_interface_name }}
                  Network:
                    Bridge: {{ kronk_homelab_network_bridge_interface_name }}
        nfs_servers:
          hosts:
            kronk:
        proxy_servers:
          hosts:
            gerald:
        vpn_servers:
          hosts:
            gerald:
        bare_metal:
          hosts:
            gerald:
            kronk:
  hosts:
    localhost:
      ansible_host: 127.0.0.1
      ansible_connection: local
      vpn_network_subnet: {{ homelab_network_subnet }}
      homelab_preferred_nameserver: {{ gerald_homelab_ipv4_addr }}
      vpn_preferred_nameserver: {{ gerald_homelab_ipv4_addr }}
      wireguard_endpoint: vpn.{{ homelab_network_domain }}:{{ gerald_wireguard_server_port }}
      cert_manager_secrets_manifest_template: k8s/prod-cert-manager-secrets.yml.j2
      letsencrypt_server_url: https://acme-v02.api.letsencrypt.org/directory
      nfs_exports_config:
        - host: kronk
          device: /srv/nfs/zims
          usage: zims
        - host: kronk
          device: /srv/nfs/cache
          usage: cache
      zim_jobs_manifest_configs:
        - name: import-wikipedia-zim
          url: https://download.kiwix.org/zim/wikipedia/wikipedia_en_all_maxi_2025-08.zim
        - name: import-askubuntu-com-zim
          url: https://download.kiwix.org/zim/stack_exchange/askubuntu.com_en_all_2025-08.zim
        - name: import-security-stackexchange-com-zim
          url: https://download.kiwix.org/zim/stack_exchange/security.stackexchange.com_en_all_2025-08.zim
        - name: import-serverfault-com-zim
          url: https://download.kiwix.org/zim/stack_exchange/serverfault.com_en_all_2025-08.zim
        - name: import-stackoverflow-com-zim
          url: https://download.kiwix.org/zim/stack_exchange/stackoverflow.com_en_all_2023-11.zim
        - name: import-superuser-com-zim
          url: https://download.kiwix.org/zim/stack_exchange/superuser.com_en_all_2025-08.zim
        - name: import-unix-stackexchange-zim
          url: https://download.kiwix.org/zim/stack_exchange/unix.stackexchange.com_en_all_2025-08.zim
