ansible-lint ==26.3.0
boto3-stubs[s3] ==1.42.68
molecule ==26.3.0
molecule-plugins[docker] ==25.8.12
mypy ==1.19.1
pre-commit ==4.5.1
pyspellchecker ==0.9.0
pytest ==9.0.2
ruff ==0.15.6
tombi ==0.9.6
