# {{ ansible_managed }}
#
# Config file for haproxy.

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s 
  timeout http-request 10s

frontend www.example.com
  bind 127.0.0.1:80
