---
{#
  Manifest that deploys jenkins onto Kubernetes.
#}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ k8s_jenkins_instance_name }}
  namespace: {{ k8s_jenkins_instance_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ k8s_jenkins_instance_name }}
  template:
    metadata:
      labels:
        app: {{ k8s_jenkins_instance_name }}
    spec:
      containers:
      - name: {{ k8s_jenkins_instance_name }}
        image: {{ k8s_jenkins_instance_image }}
        ports:
        - containerPort: {{ k8s_jenkins_http_port }}
        volumeMounts:
        - name: jenkins-home
          mountPath: /var/jenkins_home
      volumes:
      - name: jenkins-home
        emptyDir: { }

---
apiVersion: v1
kind: Service
metadata:
  name: jenkins
  namespace: {{ k8s_jenkins_instance_name }}
spec:
  type: NodePort
  ports:
  - name: http-port
    port: {{ k8s_jenkins_http_port }}
    targetPort: {{ k8s_jenkins_http_port }}
  selector:
    app: {{ k8s_jenkins_instance_name }}
