# {{ ansible_managed }}
#
# Config file for keepalived.

vrrp_instance VI_1 {
    state {{ keepalived_vrrp_state }}
    interface {{ keepalived_vrrp_interface }}
    virtual_router_id {{ keepalived_vrrp_virtual_router_id }}
    priority {{ keepalived_vrrp_priority }}
    virtual_ipaddress {
        {{ keepalived_vrrp_server_vip }}
    }
}
