---
{#
  Configs to pass to Ingress NGINX.
#}
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: {{ dockerhub_creds_secret_name }}
  namespace: {{ namespace_ }}
data:
  .dockerconfigjson: {{ encoded_dockerhub_config }}
