---
{#
  Manifest for the Kubernetes zim Job objects.
#}
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: dockerhub-creds
  namespace: {{ namespace_ }}
data:
  .dockerconfigjson: {{ encoded_dockerhub_config }}


---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ namespace_ }}-zims
spec:
  capacity:
    storage: {{ nfs_export_size }}
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ nfs_export.host }}
    path: {{ nfs_export.device }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zims
  namespace: {{ namespace_ }}
spec:
  volumeName: {{ namespace_ }}-zims
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ nfs_export_size }}

{% for zims_jobs_manifest_config in zim_jobs_manifest_configs %}
---
apiVersion: batch/v1
kind: Job
metadata:
  generateName: {{ zims_jobs_manifest_config.name }}-
  namespace: {{ namespace_ }}
spec:
  ttlSecondsAfterFinished: 86400 # one day
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: curl
          image: curlimages/curl
          args:
            - --location
            - --skip-existing
            - --remote-name
            - --fail
            - --output-dir
            - /mnt
            - {{ zims_jobs_manifest_config.url }}
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 101
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 50m
              memory: 10Mi
          volumeMounts:
            - name: zims
              mountPath: /mnt
      volumes:
      - name: zims
        persistentVolumeClaim:
          claimName: zims
{% endfor %}
