---
{#
  Manifest for the Kubernetes cert-manager Secret objects.
#}
apiVersion: v1
kind: Secret
metadata:
  name: acme-account-privkey
  namespace: {{ namespace_ }}
data:
  tls.key: {{ prod_acme_account_privkey }}
