# {{ ansible_managed }}

http_kiwix_host = "http://kiwix.{{ homelab_network_domain }}"
wikipedia_zim_name = "{{ wikipedia_zim_name }}"
se_domains = [
{% for se_domain in se_domains %}   "{{ se_domain }}",
{% endfor %}
]
