# {{ ansible_managed }}
#
# Network device config that follows systemd.network(5).
{#  
    a modified template from: 
    https://github.com/openstack/ansible-role-systemd_networkd
#}
{% set _ignored_sections = ['filename'] %}
{% for key, values in item.items() %}
{%   if key not in _ignored_sections %}
[{{ key }}]
{%     for k, v in values.items() %}
{{ k }}={{ v }}
{%     endfor %}
{%   endif %}

{% endfor %}
