comment_char %
escape_char /

% {{ ansible_managed }}

LC_IDENTIFICATION
copy "en_US"
END LC_IDENTIFICATION

LC_CTYPE
copy "en_US"
END LC_CTYPE

LC_COLLATE
copy "en_US"
END LC_COLLATE

LC_MONETARY
copy "en_US"
END LC_MONETARY

LC_NUMERIC
copy "en_US"
END LC_NUMERIC

LC_TIME
week 7;19971130;1
abday	"Sun";/
		"Mon";/
		"Tue";/
		"Wed";/
		"Thu";/
		"Fri";/
		"Sat"

day	"Sunday";/
	"Monday";/
	"Tuesday";/
	"Wednesday";/
	"Thursday";/
	"Friday";/
	"Saturday"

abmon	"Jan";/
		"Feb";/
		"Mar";/
		"Apr";/
		"May";/
		"Jun";/
		"Jul";/
		"Aug";/
		"Sep";/
		"Oct";/
		"Nov";/
		"Dec"

mon	"January";/
	"February";/
	"March";/
	"April";/
	"May";/
	"June";/
	"July";/
	"August";/
	"September";/
	"October";/
	"November";/
	"December"

% use strftime(3) for conversion specifications
d_t_fmt	"%a %d %b %Y %T %Z"
d_fmt	"%m//%d//%Y"
t_fmt	"%T"
t_fmt_ampm	"%I:%M:%S %p"
date_fmt	"%a %b %e %T %Z %Y"
am_pm	"AM";"PM"
END LC_TIME

LC_MESSAGES
copy "en_US"
END LC_MESSAGES

LC_PAPER
copy "en_US"
END LC_PAPER

LC_NAME
copy "en_US"
END LC_NAME

LC_ADDRESS
copy "en_US"
END LC_ADDRESS

LC_TELEPHONE
copy "en_US"
END LC_TELEPHONE

LC_MEASUREMENT
copy "en_US"
END LC_MEASUREMENT
