# {{ ansible_managed }}
#
# Config file for haproxy.

defaults
  mode http
  timeout client 60s
  timeout connect 5s
  timeout server 60s

frontend http
  bind {{ load_balancer_listen_ipv4_addr }}:80
  acl is_kiwix req.hdr(host) kiwix.{{ homelab_network_domain }}

  use_backend k8s_http_ingresses if is_kiwix

backend k8s_http_ingresses
  balance roundrobin
{% for k8s_http_ingress in k8s_http_ingresses %}
  server {{ k8s_http_ingress }} {{ k8s_http_ingress }}:{{ ingress_nginx_node_http_port }} check
{% endfor %}
