# {{ ansible_managed }}
#
# Config file for haproxy.

defaults
  mode http
  timeout client 60s
  timeout connect 5s
  timeout server 60s

frontend http
  bind {{ load_balancer_listen_ipv4_addr }}:80

backend poseidon_k8s_http_ingresses
  balance roundrobin
  server poseidon-k8s-worker1 {{ poseidon_k8s_worker1_homelab_ipv4_addr }}:{{ poseidon_ingress_nginx_node_http_port }} check
  server poseidon-k8s-worker2 {{ poseidon_k8s_worker2_homelab_ipv4_addr }}:{{ poseidon_ingress_nginx_node_http_port }} check
  server poseidon-k8s-worker3 {{ poseidon_k8s_worker3_homelab_ipv4_addr }}:{{ poseidon_ingress_nginx_node_http_port }} check
