<!-- Virtual network configs for the homelab network. -->
<network ipv6='yes'>
  <name>homelab</name>
  <bridge name='{{ homelab_network_bridge_interface_name }}'/>
  <forward mode='bridge'/>
</network>
