# {{ ansible_managed }}
#
# Configuration file for haproxy.

defaults
  mode http
  timeout client 60s
  timeout connect 5s
  timeout server 60s

frontend http_frontend
  bind {{ ansible_controller1_ipv4_addr }}:80
  acl is_jenkins_torkel req.hdr(host) jenkins-torkel.{{ homelab_poseidon_k8s_network_domain }}

  use_backend ingress_nginx_k8s_http_endpoints if is_jenkins_torkel

backend ingress_nginx_k8s_http_endpoints
  balance roundrobin
  server poseidon_k8s_worker1 {{ poseidon_k8s_worker1_ipv4_addr }}:{{ poseidon_ingress_nginx_node_http_port }}
  server poseidon_k8s_worker2 {{ poseidon_k8s_worker2_ipv4_addr }}:{{ poseidon_ingress_nginx_node_http_port }}
  server poseidon_k8s_worker3 {{ poseidon_k8s_worker3_ipv4_addr }}:{{ poseidon_ingress_nginx_node_http_port }}
