---
- name: Gather facts from all NFS servers
  hosts: nfs_servers
  tags: install_k8s_apps

- name: Install the Kubernetes applications
  hosts: localhost
  tags: install_k8s_apps
  vars_files:
    - "{{ network_configs_path }}"
    - k8s_apps_versions.yml
    - ansible_secrets.yml
  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python }}"
    gateway_name: nginx-gateway
    gateway_namespace: nginx-gateway-fabric
    one_mib: 1048576  # mebibyte

  tasks:
    - name: Install the NGINX Gateway Fabric controller
      block:
        - name: Create the NGINX Gateway Fabric namespace
          kubernetes.core.k8s:
            api_version: v1
            kind: Namespace
            name: "{{ gateway_namespace }}"
            state: present
          environment:
            KUBECONFIG: "{{ kubeconfig_path }}"
          register: namespace_creation

        - name: Install the Gateway API resources
          kubernetes.core.k8s:
            definition:
              "{{ lookup('kubernetes.core.kustomize',
              dir='https://github.com/nginx/nginx-gateway-fabric/config/crd/gateway-api/standard?ref=v'
              + nginx_gateway_fabric_chart_version) }}"
            state: present
          environment:
            KUBECONFIG: "{{ kubeconfig_path }}"
          vars:
            namespace_: "{{ namespace_creation.result.metadata.name }}"

        - name: Deploy the NGINX Gateway Fabric Helm chart inside its namespace
          kubernetes.core.helm:
            release_name: ngf
            chart_ref: oci://ghcr.io/nginx/charts/nginx-gateway-fabric
            chart_version: "{{ nginx_gateway_fabric_chart_version }}"
            release_namespace: "{{ namespace_creation.result.metadata.name }}"
            release_state: present
            values:
              "{{ lookup('ansible.builtin.template',
              'k8s/nginx-gateway-fabric-helm-values.yml.j2') |
              ansible.builtin.from_yaml }}"
          environment:
            KUBECONFIG: "{{ kubeconfig_path }}"

    - name: Apply the nginx-gateway manifest to the Kubernetes cluster
      kubernetes.core.k8s:
        template: k8s/nginx-gateway.yml.j2
        state: present
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
      vars:
        namespace_: "{{ namespace_creation.result.metadata.name }}"

    - name: Create the cert-manager namespace in the Kubernetes cluster
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: cert-manager
        state: present
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
      register: namespace_creation

    - name: Apply the cert-manager Secrets manifest to the Kubernetes cluster
      kubernetes.core.k8s:
        template: "{{ cert_manager_secrets_manifest_template }}"
        state: present
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
      vars:
        namespace_: "{{ namespace_creation.result.metadata.name }}"

    - name: Deploy the cert-manager Helm chart inside its namespace
      kubernetes.core.helm:
        release_name: cert-manager
        chart_ref: oci://quay.io/jetstack/charts/cert-manager
        chart_version: "{{ cert_manager_chart_version }}"
        release_namespace: "{{ namespace_creation.result.metadata.name }}"
        release_state: present
        values:
          "{{ lookup('ansible.builtin.template',
          'k8s/cert-manager-helm-values.yml.j2') | ansible.builtin.from_yaml }}"
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
      vars:
        namespace_: "{{ namespace_creation.result.metadata.name }}"

    - name: Apply the cert-manager Issuers manifest to the Kubernetes cluster
      kubernetes.core.k8s:
        template: k8s/cert-manager-issuers.yml.j2
        state: present
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
      vars:
        namespace_: "{{ namespace_creation.result.metadata.name }}"

    - name: Create the kiwix-serve namespace in the Kubernetes cluster
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: kiwix-serve
        state: present
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
      register: namespace_creation

    - name: Apply the kiwix-serve manifest to the Kubernetes cluster
      kubernetes.core.k8s:
        template: k8s/kiwix-serve.yml.j2
        state: present
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
      vars:
        namespace_: "{{ namespace_creation.result.metadata.name }}"
        nfs_export: "{{ (nfs_exports_config | community.general.json_query('[?usage==`zims`]'))[0] }}"
        nfs_export_size:
          "{{ (hostvars[nfs_export.host]['ansible_facts']['mounts'] |
          community.general.json_query('[?mount==`' + nfs_export.device +
          '`]'))[0].size_total / one_mib }}Mi"

    - name: Apply the Kiwix zim Jobs manifest to the Kubernetes cluster
      kubernetes.core.k8s:
        template: k8s/kiwix-zim-jobs.yml.j2
        state: present
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
      vars:
        namespace_: "{{ namespace_creation.result.metadata.name }}"
        nfs_export: "{{ (nfs_exports_config | community.general.json_query('[?usage==`zims`]'))[0] }}"
        nfs_export_size:
          "{{ (hostvars[nfs_export.host]['ansible_facts']['mounts'] |
          community.general.json_query('[?mount==`' + nfs_export.device +
          '`]'))[0].size_total / one_mib }}Mi"

    - name: Create the ddns namespace in the Kubernetes cluster
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: ddns
        state: present
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
      register: namespace_creation

    - name: Apply the DDNS CronJobs manifest to the Kubernetes cluster
      kubernetes.core.k8s:
        template: k8s/ddns-cronjobs.yml.j2
        state: present
      environment:
        KUBECONFIG: "{{ kubeconfig_path }}"
      vars:
        namespace_: "{{ namespace_creation.result.metadata.name }}"
        nfs_export: "{{ (nfs_exports_config | community.general.json_query('[?usage==`cache`]'))[0] }}"
        nfs_export_size:
          "{{ (hostvars[nfs_export.host]['ansible_facts']['mounts'] |
          community.general.json_query('[?mount==`' + nfs_export.device +
          '`]'))[0].size_total / one_mib }}Mi"
