---
- name: Upgrade all machines' packages
  hosts: managed
  tags: upgrade_all_machines_packages

  tasks:
    - name: Upgrade all packages (debian-like)
      ansible.builtin.apt:
        update_cache: true
        upgrade: true
      become: true
      when: ansible_os_family | lower == "debian"
