---
- name: Add net.ifnames=1 to grub boot command(s)
  hosts: on_prem
  tags: add_net_ifnames
  vars:
    default_grub_path: /etc/default/grub

  tasks:
    - name: Register the default grub configuration file inode
      ansible.builtin.stat:
        path: "{{ default_grub_path }}"
      register: default_grub_config_inode

    - name: Add net.ifnames=1 to GRUB_CMDLINE_LINUX_DEFAULT
      ansible.builtin.blockinfile:
        state: present
        path: "{{ default_grub_path }}"
        marker: "# {mark} ANSIBLE MANAGED -- add net.ifnames=1 to GRUB_CMDLINE_LINUX_DEFAULT"
        prepend_newline: true
        block: |
          GRUB_CMDLINE_LINUX_DEFAULT="${GRUB_CMDLINE_LINUX_DEFAULT} net.ifnames=1"
      become: true
      notify:
        - Create the networking interfaces file (debian-like)
        - Reboot hosts
      when: default_grub_config_inode.stat.exists

    - name: Update grub.cfg
      vars:
        grub_config_path: /boot/grub/grub.cfg
      block:
        - name: Register the current grub configuration file inode
          ansible.builtin.stat:
            path: "{{ grub_config_path }}"
            checksum_algorithm: sha256
          become: true
          register: current_grub_config_inode

        - name: Update grub.cfg (debian-like)
          ansible.builtin.shell:
            executable: /bin/bash
            cmd: |
              set -eo pipefail
              grub-mkconfig --output "{{ grub_config_path }}"
              sha256sum "{{ grub_config_path }}" | awk -F " " '{ print $1 }'
          changed_when: current_grub_config_inode.stat.checksum != grub_config_checksum.stdout
          become: true
          register: grub_config_checksum
          when:
            - default_grub_config_inode.stat.exists
            - ansible_os_family | lower == "debian"

  handlers:
    - name: Create the networking interfaces file (debian-like)
      ansible.builtin.copy:
        dest: /etc/network/interfaces
        mode: "644"
        content: |
          # interfaces(5) file used by ifup(8) and ifdown(8)
          # Include files from /etc/network/interfaces.d:
          source-directory /etc/network/interfaces.d

          auto mac/{{ vagrant_vm_mgmt_mac_addr }}/1=en
          iface en inet dhcp
      become: true
      when: ansible_os_family | lower == "debian"

    - name: Reboot hosts
      ansible.builtin.reboot:
      become: true

- name: Set system locale to C.UTF-8
  hosts: managed
  tags: set_c_locale

  tasks:
    - name: Compile glibc's C.UTF-8 locale (debian-like)
      community.general.locale_gen:
        name: C.UTF-8
        state: present
      become: true
      when: ansible_os_family | lower == "debian"

    - name: Set the locale to glibc's C.UTF-8
      ansible.builtin.command: localectl set-locale "C.UTF-8"
      changed_when: "'C.UTF-8' != ansible_env['LANG']"
      become: true

- name: Add the staging CA certificates for Let's Encrypt
  hosts: on_prem
  tags: add_staging_ca_certs_letsencrypt

  tasks:
    - name: Grab the root CA certificates (debian-like)
      ansible.builtin.get_url:
        url: "{{ item.url }}"
        dest:
          /usr/local/share/ca-certificates/{{ ((item.url |
          ansible.builtin.urlsplit('path') | ansible.builtin.split('/'))[-1] |
          ansible.builtin.splitext)[0] }}.crt
        checksum: "{{ item.checksum }}"
        mode: "644"
      become: true
      notify: Update the CA certificates' store (debian-like)
      loop:
        - url: https://letsencrypt.org/certs/staging/letsencrypt-stg-root-x1.pem
          checksum: sha256:3a5e1171e5f5c2d41522d438f225602e4236a68fb29c32399a95921a4ae80e73
        - url: https://letsencrypt.org/certs/staging/letsencrypt-stg-root-x2.pem
          checksum: sha256:497c36c1b50c0daff30870d5908c9b97af29223d5510c5e6c24957d0cc502fb8
        - url: https://letsencrypt.org/certs/staging/gen-y/root-ye.pem
          checksum: sha256:bf41a8c5f7fffc181e46d5df1a2b867f0efb6e169df6f0a45bd4064b1d023084
        - url: https://letsencrypt.org/certs/staging/gen-y/root-yr.pem
          checksum: sha256:73391ed55a3eb09f1284f8b548e540f5e265149c83ea0b79dd8ae97c016659d7
      when: ansible_os_family | lower == "debian"

  handlers:
    - name: Update the CA certificates' store (debian-like)
      ansible.builtin.command: update-ca-certificates
      changed_when: true
      become: true
