---
- name: Setup QEMU/KVM
  hosts: vmms
  tags: setup_qemu_kvm
  vars_files:
    - "{{ network_configs_path }}"
  vars:
    libvirt_pool_dir_path: /var/lib/libvirt/images

  tasks:
    - name: Update apt's package index (debian-like)
      ansible.builtin.apt:
        update_cache: true
      become: true
      when: ansible_os_family | lower == "debian"

    - name: Install QEMU/KVM and the libvirtd daemon (debian-like)
      ansible.builtin.apt:
        name:
          - libvirt-daemon-system
          - qemu-system-x86
        state: present
      become: true
      when: ansible_os_family | lower == "debian"

    - name: Set the libvirt default connect URI for all users
      ansible.builtin.template:
        src: libvirt-default-uri.sh.j2
        # it's required that scripts have the .sh ext for /etc/profile to read it
        dest: /etc/profile.d/libvirt-default-uri.sh
        mode: "644"
      become: true

    - name: Set a local AppArmour profile for newly created libvirt domains
      ansible.builtin.template:
        src: libvirt-qemu.j2
        dest: /etc/apparmor.d/local/abstractions/libvirt-qemu
        mode: "644"
      become: true
      notify: Restart the apparmor service

    - name: Append the ansible_user to the libvirt group
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        # This group should already be created from a libvirt daemon pkg (e.g.
        # libvirt-daemon-system).
        groups: libvirt
        state: present
        append: true
      become: true

    - name: Setup the libvirt user
      block:
        - name: Create the libvirt group
          ansible.builtin.group:
            name: libvirt
            state: present
          become: true

        - name: Create the libvirt user
          ansible.builtin.user:
            name: libvirt
            group: libvirt
            state: present
            home: /home/libvirt
            shell: /bin/bash
          become: true

        - name: Create the libvirt user's .ssh directory
          ansible.builtin.file:
            path: /home/libvirt/.ssh
            owner: libvirt
            group: libvirt
            state: directory
            mode: "700"
          become: true

        - name: Create the authorized_keys file
          ansible.builtin.copy:
            dest: /home/libvirt/.ssh/authorized_keys
            src: authorized_keys
            owner: libvirt
            group: libvirt
            mode: "600"
          become: true

    - name: Install libvirt-python dependencies (debian-like)
      ansible.builtin.apt:
        name:
          - gcc
          - libvirt-dev
          - python3-dev
        state: present
      become: true
      when: ansible_os_family | lower == "debian"

    - name: Setup the Python virtual environment
      ansible.builtin.include_role:
        name: python_virtualenv
      vars:
        python_virtualenv_name: "{{ ansible_user_python_virtualenv_name }}"
        python_virtualenv_path: "{{ ansible_user_python_virtualenvs_path }}"
        python_virtualenv_pkgs:
          - libvirt-python
          - lxml

    - name: Add sourcing of the Python virtual environment
      ansible.builtin.blockinfile:
        state: present
        path: "{{ ansible_user_home }}/.bashrc"
        marker: "# {mark} ANSIBLE MANAGED -- source the python virtualenv"
        prepend_newline: true
        block: |
          source "{{ ansible_user_python_virtualenvs_path }}/{{ ansible_user_python_virtualenv_name }}/bin/activate"

    - name: Copy over the metal-amd64.iso file
      ansible.builtin.copy:
        dest: "{{ libvirt_pool_dir_path }}"
        src: metal-amd64.iso
        mode: "644"
      become: true
      when: ansible_os_family | lower == "debian"

    - name: Setup the libvirt environment
      vars:
        ansible_python_interpreter: "{{ ansible_user_python_virtualenvs_path }}/{{ ansible_user_python_virtualenv_name }}/bin/python"
      block:
        - name: Define the homelab network
          community.libvirt.virt_net:
            name: "{{ homelab_network_name }}"
            command: define
            xml: "{{ lookup('ansible.builtin.template', 'homelab-libvirt-network.xml.j2') }}"

        - name: Have the homelab network start up on boot
          community.libvirt.virt_net:
            name: "{{ homelab_network_name }}"
            autostart: true

        - name: Start the homelab network
          community.libvirt.virt_net:
            name: "{{ homelab_network_name }}"
            state: active

        - name: Define the default pool
          community.libvirt.virt_pool:
            command: define
            name: default
            xml: "{{ lookup('ansible.builtin.template', 'libvirt-pool-default.xml.j2') }}"

        - name: Start the default pool
          community.libvirt.virt_pool:
            command: start
            name: default
            state: active

        - name: Have the default pool start up on boot
          community.libvirt.virt_pool:
            name: default
            autostart: true

  handlers:
    - name: Restart the apparmor service
      ansible.builtin.systemd_service:
        name: apparmor.service
        state: restarted
      become: true
